ul{

    list-style:none;

    padding:0;

}

li{

    background:white;

    margin:15px auto;

    padding:15px;

    border-radius:10px;

    max-width:400px;

}


/* ===== ブルーベリーのページの画像サイズ2列にする ===== */
.gallery-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

}
/* ===== ブルーベリーのページの画像サイズ2列にする終わり ===== */